/* Hide scroll bar in WebKit browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scroll bar in Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}